parameters:
    level: max
    paths:
        - bin
        - config
        - public
        - src
        - tests
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
