# https://phpstan.org/blog/phpstan-2-0-released-level-10-elephpants
# https://phpstan.org/config-reference#bleeding-edge
# https://phpstan.org/blog/what-is-bleeding-edge
# comment the two following lines if you don't want to use the bleedingEdge mode.
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

# https://phpstan.org/config-reference
parameters:
    # https://phpstan.org/config-reference#rule-level
    level: max
    # https://phpstan.org/config-reference#multiple-files
    paths:
        - importmap.php
        - bin
        - config
        - public
        - src
        - tests
    # https://github.com/phpstan/phpstan-symfony#configuration
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    # https://phpstan.org/user-guide/ignoring-errors
    ignoreErrors:
        #- '#my_ignore_error_regexp_pattern#'
