<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/11.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>

    <server name="SHELL_VERBOSITY" value="-1"/>

    <server name="KERNEL_CLASS" value="App\Kernel" />
    <server name="APP_ENV" value="test" force="true"/>
    <server name="APP_DEBUG" value="true"/> <!-- set this to false on your CI to speed up tests by 2x -->
  </php>

  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>

    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>

    <testsuite name="api">
      <directory>tests/Api</directory>
    </testsuite>

    <testsuite name="functional">
      <directory>tests/Functional</directory>
    </testsuite>

    <testsuite name="e2e">
      <directory>tests/E2E</directory>
    </testsuite>
  </testsuites>

  <!-- Run `composer require symfony/panther` before enabling this extension -->
  <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
