{% extends 'base.html.twig' %}

{% block body %}
    <div class="sub-heading">
        <h2>Hello World! 👋</h2>
    </div>

    <p>This a simple hello world page without any heavy process.
        Just a basic Twig template rendering.</p>
{% endblock %}
