{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="sub-heading">
            <h2>Composer</h2>
        </div>

        <p>The current <code>composer.json</code> file:</p>

        <pre><code>{{ composer }}</code></pre>
    </section>
{% endblock %}


