{% extends 'base.html.twig' %}

{% block body %}
    <div class="sub-heading">
        <h2>Composer ⚡</h2>
    </div>

    <p>
        Check-out the <a target="_blank" att="" href="https://packagist.org/packages/strangebuzz/microsymfony">package homepage on packagist.org.</a>
    </p>

    <p>
        The current <code>composer.json</code> file:
    </p>

    <pre><code>{{ composer }}</code></pre>
{% endblock %}
