{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="sub-heading">
            <h2>Hello!</h2>
        </div>

        <grid>
            <div col="1/4">
                <h3>Page with dynamic content</h3>
            </div>
            <div col="3/4">
                {% if name is empty %}
                    <p>Type you name in the URL, ex <a href="/?name=COil">/?name=COil</a></p>
                {% else %}
                    <p>Hello {{ name }}!</p>
                {% endif %}
            </div>
        </grid>
    </section>
{% endblock %}


