{% extends 'base.html.twig' %}

{% block body %}
    <p>This page displays the <a target="_blank" att="" href="https://github.com/strangebuzz/MicroSymfony/blob/main/README.md">
            README.md</a> file of the GitHub repository.</p>

    <hr/>

    {% apply markdown_to_html %}
        {{ readme|raw }}
    {% endapply %}
{% endblock %}
