{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="sub-heading">
            <h2>Markdown</h2>
        </div>

        <p>This page displays the README.md file of the GitHub repository.</p>

        <hr/>

        {% apply markdown_to_html %}
            {{ readme|raw }}
        {% endapply %}
    </section>
{% endblock %}
