name: Symfony

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  # run tests (critical)
  symfony-tests:
    runs-on: ubuntu-latest
    # Setup
    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        coverage: xdebug
    - uses: actions/checkout@v3
    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
    - uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    # Tests
    - name: Execute tests via PHPUnit
      run: vendor/bin/simple-phpunit


  # run all lint/CS checks (non critical)
  symfony-lint:
    runs-on: ubuntu-latest
    steps:
    # Setup
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        tools: cs2pr
    - uses: actions/checkout@v3
    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
    - uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    # native Symfony lints
    - name: Lint the DI container
      run: bin/console lint:container
    - name: Lint Twig templates
      run: bin/console lint:twig
    - name: Lint Yaml files
      run: bin/console lint:yaml config/

    # vendors
    - name: php-cs-fixer
      run: vendor/bin/php-cs-fixer fix --allow-risky=yes --dry-run --format=checkstyle | cs2pr
    - name: PHPStan
      run: | 
        bin/console about --env=dev
        vendor/bin/phpstan analyse -c phpstan.neon --memory-limit 1G -vvv
